/*
	font-familty:'Lora', serif;
	font-familty:'Nunito', sans-serif;
*/
@import url('https://fonts.googleapis.com/css?family=Lora|Nunito');

html,body{
	background-color:#bbb7ab;
	font-family:'Nunito',sans-serif;
	margin:0; 
	font-size: 16px;
}

/*Header Segment*/
header, h1{
	background-color: #fff079;
	margin:0;
	padding:1vh;
	padding-bottom:0.5vh;
	text-align: center;
}
header p{
	font-size: 0.8rem;
	padding: 0;
	margin:0;
	font-family: 'Lora', serif;
}
nav{
	display:flex;
	justify-content: center;
}
nav a{
	font-size:1rem;
	margin:0 1vw;
	padding: 0.5vw;
	color:#ff8b00;
}
