/*
Colors:
lavender #bbb7ab
apricot #fff079
ducky #ffe200
tangerine #ffc732
*/

/*
	font-familty:'Lora', serif;
	font-familty:'Nunito', sans-serif;
*/
@import url('https://fonts.googleapis.com/css?family=Lora|Nunito');

html,body{
	background-color:#bbb7ab;
	font-family:'Nunito',sans-serif;
	margin:0; 
	font-size: 16px;
}

/*Header Segment*/
header, h1{
	background-color: #fff079;
	margin:0;
	padding:1vh;
	padding-bottom:0.5vh;
	text-align: center;
}
header p{
	font-size: 0.8rem;
	padding: 0;
	margin:0;
	font-family: 'Lora', serif;
}

/*Navigation tab*/
header>details{
	font-weight: bold;
	background-color: #fff079;
	color:black;
	position: fixed;
	right:0;
	top:0;
	padding: 1vw;
	padding-bottom: 2.5vw;
	border-radius: 0 0 25% 25%;
	opacity:.75;
}
summary{
	padding-right:5vw;
}
nav{
	display:flex;
	flex-flow:column;
	justify-content:;
	margin:0;
}
nav a{
	font-size:1rem;
	color:#ff8b00;
	padding:0;
}
summary:hover,nav a:hover{
	color:#fff079;
	background-color: #bbb7ab;
}


/*Recipe Segments*/
main{
	display: flex;
	flex-flow:column;
	align-items: center;
}
main>article{
	width: 75vw;
	background-color: white;
	margin: 2vh;
	padding: 1vh 3vh;
}
article img{
	width: inherit;
}
article h2{
	color:#ff8b00;
	text-align: center;
}
article a{
	display: block;
	text-align: right;
	font-size: 0.75rem;
}

/*Footer Segment*/
footer, footer ul{
	background-color:#fff079;
	margin: 0;
	list-style-type: none;
	text-align: left;
	font-size: 0.7rem;
	padding-right: 1vw;
}